<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientName="sitefinity" config:flags="1">
					<redirectUris>
						<add redirectUri="https://localhost:5001/signin-oidc" />
						<add redirectUri="http://localhost:5000/signin-oidc" />
					</redirectUris>
				</add>
				<add clientId="testApp" enabled="True" flow="ResourceOwner" allowAccessToAllScopes="True" clientName="testApp">
					<clientSecrets>
						<add clientSecret="secret" />
					</clientSecrets>
					<allowedCorsOrigins>
						<add allowedCorsOrigin="https://localhost:5001" />
					</allowedCorsOrigins>
				</add>
			</identityServerClients>
			<scopes>
				<add scopeType="Resource" name="offline_access" />
			</scopes>
		</identityServerSettings>
	</securityTokenServiceSettings>
</authenticationConfig>