<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" authCookieName=".SFAUTH-SitefinityCoreApp" rolesCookieName=".SFROLES-SitefinityCoreApp" validationKey="1FDCCD26F5D65261A051E90BFE7329DC70ABCEE70115E50879DBCCA33B724CDBC892958EF9891E0029A99657E104A4B007E80A8E7BA6DE20F312670C7C7FAC91" decryptionKey="8B05FE4A9A27B31D2FB79C8D0EE71787D2F275D310A030D4313BB3381276539B" loggingCookieName=".SFLOG-SitefinityCoreApp">
	<securityTokenIssuers>
		<add key="4B9A82B743E9E53E26C465EE91A2597F7EEDB10A423539042E04EE64CEA54558" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="4B9A82B743E9E53E26C465EE91A2597F7EEDB10A423539042E04EE64CEA54558" realm="http://localhost" />
	</relyingParties>
</securityConfig>