<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<applicationModules>
		<add version="13.3.7600.0" name="Scheduling" config:flags="1" />
		<add version="13.3.7600.0" name="News" config:flags="1" />
		<add version="13.3.7600.0" name="Blogs" config:flags="1" />
		<add version="13.3.7600.0" name="Events" config:flags="1" />
		<add version="13.3.7600.0" name="Libraries" config:flags="1" />
		<add version="13.3.7600.0" name="Forms" config:flags="1" />
		<add version="13.3.7600.0" name="Lists" config:flags="1" />
		<add version="13.3.7600.0" name="Authentication" config:flags="1" />
		<add version="13.3.7600.0" name="Newsletters" config:flags="1" />
		<add version="13.3.7600.0" name="GenericContent" config:flags="1" />
		<add version="13.3.7600.0" name="ControlTemplates" config:flags="1" />
		<add version="13.3.7600.0" name="ModuleBuilder" config:flags="1" />
		<add version="13.3.7600.0" name="ResponsiveDesign" config:flags="1" />
		<add version="13.3.7600.0" name="Publishing" config:flags="1" />
		<add version="13.3.7600.0" name="Search" config:flags="1" />
		<add version="13.3.7600.0" name="Personalization" config:flags="1" />
		<add version="13.3.7600.0" name="Feather" config:flags="1" />
		<add version="13.3.7600.0" name="Comments" config:flags="1" />
		<add version="13.3.7600.0" name="WebServices" config:flags="1" />
		<add version="13.3.7600.0" name="PackagingModule" config:flags="1" />
		<add version="13.3.7600.0" name="ABTesting" config:flags="1" />
		<add version="13.3.7600.0" name="HubSpotConnector" config:flags="1" />
		<add version="13.3.7600.0" name="EloquaConnector" config:flags="1" />
		<add version="13.3.7600.0" name="Translations" config:flags="1" />
		<add version="13.3.7600.0" name="ContextualHelp" config:flags="1" />
		<add version="13.3.7600.0" name="Analytics" config:flags="1" />
		<add version="13.3.7600.0" name="Dashboard" config:flags="1" />
		<add version="13.3.7600.0" name="DataIntelligenceConnector" config:flags="1" />
		<add version="13.3.7600.0" name="Forums" config:flags="1" />
		<add errorMessage="Module is not licensed." name="MarketoConnector" config:flags="1" />
		<add version="13.3.7600.0" name="MobileFormats" config:flags="1" />
		<add version="13.3.7600.0" name="RecycleBin" config:flags="1" />
		<add version="13.3.7600.0" name="SalesForceConnector" config:flags="1" />
		<add version="13.3.7600.0" name="SharepointConnector" config:flags="1" />
		<add version="13.3.7600.0" name="SitemapGenerator" config:flags="1" />
		<add version="13.3.7600.0" name="WebSecurity" config:flags="1" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1" />
	</typeImplementationsMapping>
</systemConfig>